body {
  font-family: "Maven Pro", sans-serif;
  padding: 100px;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  color: #333333;
}
h1 {
  display: inline;
  position: relative;
  bottom: 40px;
  right: 18px;
}
.topbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}
.main-background {
  background-image: linear-gradient(to top, #dcebff 0%, #accbee 100%);
}
.date {
  display: block;
  position: relative;
  bottom: 24px;
  right: 15px;
}

.main-weather {
  display: inline;
  position: relative;
  bottom: 41px;
  right: 10px;
}
.card-background {
  background-image: linear-gradient(to top, #accbee 0%, #dcebff 100%);
}
