body {
  font-family: "Maven Pro", sans-serif;
  padding: 100px;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  color: #333333;
}
h1 {
  display: inline;
  position: relative;
  bottom: 40px;
  right: 0px;
}

.Location h1 {
  display: inline-flex;
  flex-wrap: wrap;
  min-width: 50ox;
}
.n-wrap-h1 {
  flex: 1 1 auto;
}
.topbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}
.main-background {
  display: block;
  margin: 0 auto;
  background-image: linear-gradient(to top, #dcebff 0%, #accbee 100%);
  width: 100%;
}
.date {
  display: block;
  position: relative;
  bottom: 24px;
  right: 0px;
}

.main-weather {
  display: inline;
  position: relative;
  bottom: 40px;
  right: -4px;
}
.card-background {
  background-image: linear-gradient(to top, #accbee 0%, #dcebff 100%);
}
.input-group: {
  width: 80%;
  position: relative;
}

.col {
  max-width: 174px;
}
