body {
  font-family: "Maven Pro", sans-serif;
  padding: 100px;
  background-color: linear-gradient(to bottom, #eef1f5 0%, #d0d3da 100%);
  color: #333333;
  background-image: url("C:\Users\barba\Documents\GitHub\Why-Not-Weather\images\rain.jpg");
}
h1 {
  display: inline;
  position: relative;
  bottom: 18px;
  right: 0px;
}
.topbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}
.main-background {
  display: block;
  margin: 0 auto;
  background-image: linear-gradient(to top, #dcebff 0%, #accbee 100%);
  width: 100%;
}
.date {
  display: block;
  position: relative;
  bottom: 25px;
  right: -4px;
}

.main-weather {
  display: block;
  position: relative;
  bottom: 40px;
  right: -4px;
}

.detailed-weather {
  display: block;
  position: relative;
  bottom: 37px;
  right: -18px;
}
.card-background {
  background-image: linear-gradient(to top, #accbee 0%, #dcebff 100%);
}
.input-group: {
  width: 80%;
  position: relative;
}

.col {
  max-width: 174px;
}
